body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

nav{
    color:white;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#ddd;
  }

  /* Show all links inline */
  #myLinks {
    display: flex !important;
    gap: 10px;
  }

  #myLinks a {
    display: inline-block;
    color:black;
  }

  #myLinks a:hover{
    background-color: black;
    color: white;
  }

  .topnav a.icon {
    display: none !important;
  }


  .topnav a {
    display: inline-block;
    padding: 14px 16px;
  }
}

.topnav #myLinks {
  display: none;
}

.topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

nav a{
    color:white;
}
.topnav a.icon {
  color: white;
  background-color: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(0, 0, 0);
}

.active {
  background-color:#ddd;
  color: rgb(1, 0, 0);
}


.container-1{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.image-1{
    border-radius:10px;
}

.container-1 figure{  
    object-fit:cover;
    height:35vh;
}

.fig-container{
  margin-bottom:1vh;
  text-align:center;
}

.container-1 p{
  text-align:center;
  font-size:20px;
  margin-bottom:1vh;
}


.container-1 p{
    padding-left:15px;
    padding-right:15px;
}

.content{
  font-size:30px;
  text-align:center;
}

@media (min-width:768px) and (max-width:1024px) {
    .container-1{
      margin-top:15px;
      flex-direction:row;
      justify-content:space-around;
    }
    .fig-container{
      margin-right:2vh;
      max-width:60%;
    }

    .content{
      width:40%;
    }

    .content p{
      font-size:35px;
    }
}

@media (min-width:1025px){
    .container-1{
      margin-top:20px;
      flex-direction:row;
      justify-content:space-around;
    }
    .fig-container{
      width:60%;
      height:60%;
      margin-right:2vh;
      max-width:120vh;
    }
    .content{
      max-width:40%;
    }

    .content p{
      font-size:45px;
    }
}

.container-2{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    margin:5vh;
}

.items{
    border:#333 2px solid;
    border-radius:10px;
    margin:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
}

.btn{
    margin:2vh;
    padding:1vh;
    border:1px solid black;
    border-radius:5px;
    background-color:white;
    font-size:2vh;
}

.btn:hover{
    background-color:black;
    color:white;
}

.items p{
    font-size: 2vh;
}

@media (min-width:768px) and (max-width:1024px){
  .container-2{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (min-width:1025px){
  .container-2{
    grid-template-columns: repeat(3,1fr);
  }
}